[gcode_macro CG28]
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    G28
  {% endif %}

[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customise for your slicer of choice
#	PS Start GCODE  #
# ; set nozzle and bed temp to 0 to force PrusaSlicer to not inject these before/after the print_start macro
# M104 S0 ; set extruder temperature
# ;M140 S0 ; set bed temperature
# ; klipper print_start macro sets temperature gcodes 
# print_start EXTRUDER=[first_layer_temperature] BED=[first_layer_bed_temperature]

gcode:
# Parameters
    {% set BED = params.BED|default(0)|int %}
    {% set EXTRUDER = params.EXTRUDER|default(0)|int %}

    G28    
    M83 							; extruder relative mode
    M117 Heating Bed!
    M140 S{BED}						; set bed temp
    M190 S{BED}						; wait for bed final temp
    M117 Pre-heat Extruder!
    
    M104 S160 						; start warming extruder to 160
    G92 E0 							; Reset Extruder

#Heat Extruder	
    M117 Heat extruder!
    M104 S{EXTRUDER}				; set extruder temp
	G1 X0 Y0 Z10 F5000.0 		; go outside print area
    M109 S{EXTRUDER}				; wait for extruder final temp

# Purge
	M117 START THE PURGE!
    G91
    G1 E10 F300
    G90

# Prime Line
	M117 Prime Line
	G1 Z2.0 F3000 					; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X2.0 Y2.0 Z0.3 F5000.0		; Move to start position
    G1 X30.0 E3.5 F500.0 			; Thin intro line
	G1 X60.0 E7.5 F500.0 		; Fat intro line
    G92 E0 							; Reset Extruder
    G1 Z3.0 F3000 					; Move Z Axis up little to prevent scratching of Heat Bed
    M117 Let's roll
    G21 							; set units to millimeters
    G90 							; use absolute coordinates
    M82 							; use absolute distances for extrusion  
   
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X60 Y{max_y} F3600          ; park nozzle at rear

[gcode_macro Center_Bed]
gcode:
    G90                             ;Set to absolute mode
    G0 X60 Y60 F3600              ;move to center of bed
	
[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E30 F300                    ; load
   G1 E15 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute
    
[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E10 F300                    ; extrude a little to soften tip
   G1 E-40 F1800                  ; retract some, but not too much or it will jam
   M82                            ; set extruder to absolute

[gcode_shell_command backup_cfg]
command: sh /home/pi/autocommit.sh
timeout: 30
verbose: True

[gcode_macro BACKUP_CFG]
gcode:
    RUN_SHELL_COMMAND CMD=backup_cfg